*{
    padding: 0;
    margin: 0;
}
.box {
    background-color: #ffffff;
    width: 280px;
    height: 200px; 
    border-radius: 10%;
}
.menu  {
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial ;
    font-size: 20px;
}
.box-header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.menu_button{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}
.menu_button_1{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}
.menu_button_2{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}
.square {
    display: flex;
}
.oglovlenie {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
}
.chosen {
    color: blueviolet;
    border-bottom: 5px solid blueviolet ;
    padding-bottom: 2px;
}
.header-right {
    display: flex;
    font-size: 18px;
    gap:8px;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 40px;
    border-radius: 150%
}
.sanya {
    display: flex;
    background-color: #ffffff;
}
body {
    background-color: #f3f3f3;
}
.zad {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 24px;
    max-width: 1680px;
    width: 100%;
    margin: 0px auto;
}
.square_1 { 
    background-color: #ffffff;
    width: 1350px;
    height: 5000px; 
    border-radius: 16px;
    display: flex;
    transform: translateX(40px)
}
.css-1fbgjrz {
    position: relative;
    width: fit-content;
    max-width: 100%;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid rgb(190, 194, 204);
    color: rgb(20, 26, 39);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-right: 16px;
    height: 100px;
}
.css-re3l1m {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}
